<!-- --- VISUAL LOGS (VITRINE DE L'UNIVERS) --- -->
    <section class="visual-logs-section">
        <div class="logs-grid">
            
            <!-- Fragment 1 (Toujours visible) -->
            <div class="log-item" style="background-image: url('./assets/img/global/ambiance1.webp');"></div>
            
            <!-- Fragment 2 (Disparaît sur téléphone) -->
            <div class="log-item hide-on-mobile" style="background-image: url('./assets/img/global/ambiance2.webp');"></div>
            
            <!-- Fragment 3 (Disparaît sur tablette et téléphone) -->
            <div class="log-item hide-on-tablet" style="background-image: url('./assets/img/global/ambiance3.webp');"></div>
        </div>
    </section>
